<!--The content below is only a placeholder and can be replaced.-->
<div class="mymainclass">
    <div style="text-align:center">
      <h1>
        Welcome to {{ title }}!
      </h1>
      <div>
          <nav>
              <a routerLink="/">Dogs</a>
              <a routerLink="/about">About</a>
              <a routerLink="/add-dog">add-dog</a>

            </nav>
          <!-- <form action="action_page.php">
              <div class="container">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>
            
                <button type="submit">Login</button>
              </div>
            </form> -->
      </div>
    </div>
    <router-outlet></router-outlet>


    <!-- <ul>
        <li *ngFor="let cat of cats;  let i = index">
          <span>{{i +1}}) {{cat.name | uppercase}} - {{cat.weight}}kgs - {{cat.birthdate | date:format(cat)}}      
          </span>
        </li>
      </ul> -->
  </div>